.leaflet-map {
	float: left;
	width: 75%;
	height: 100%;
}

.news-column {
	float: right;
	width: 25%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

.news-column-list {
	list-style-type: none;
	padding: 25px;
}

.news-column-list li {
	margin-top: 5px;
	margin-bottom: 5px;
}

.element-content-div {
	padding: 5px;
}

.element-link-source {
	display: flex;
	justify-content: space-between;
}

#reddit-logo {
	display:flex;
	justify-content: center;
	align-items: center;
}
